@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.font-raleway{
    font-family: "Raleway", sans-serif;

}
.font-inter{
    font-family: "Inter", sans-serif;
}
/* #banner{
    background: url("/images/banner.png");
    height: 550px;
    width: 1171px;
} */
#banner_text{
    position: relative;
    top: 70px;
   
}
#banner_des{
    position: relative;
    top: 220px;
    
}
#ticker_container {
    border-right: 2px dashed white;
  }
  
  